{
  "discord": {
    "token": "",
    "server": ,
    "vc": ,
    "lang": "de",
    "formatting": "┇",
    "emojis": true
  },
  "connections": {
    "stations": [
      "Berlin Hauptbahnhof",
      "Amsterdam",
      "Helsinki"
    ],
    "IDs": [],
    "priority: "{
    }",
    "blacklist": [
      "OTHER",
      "RIDE_SHARING"
    ],
    "min_duration": 10,
    "max_duration": null,
    "max_wait_time": null,
    "timezone": "Europe/Berlin"
  },
  "announcements": {
    "text_announcements": true,
    "voice_announcements": false
  },
  "http": {
    "user_agent": "Gleiswechsel-Discord-Bot/1.0 (https://github.com/kaaninchen/Gleiswechsel)"
  }
}