{
    "token": "",
    "stations": [ "Berlin Hbf", "Hamburg Hbf", "München Hbf", "Amsterdam Centraal"],
    "server": , 
    "vc": ,
    "formatting": "🚅┇",
    "random": false
    "blacklist": [
        
    ]
}