{
    "token": "",
    "stations": ["Hamburg Hbf", "München Hbf", "Köln Hbf", "Amsterdam Centraal"],
    "dbf": "https://dbf.finalrewind.org",
    "server": , 
    "vc": ,
    "random": true,
    "emojis": true,
    "announcements": true,
    "formatting": "┇",
    "blacklist": []
}